
{% extends 'base.html.twig' %}

{% block title %}JS Brokers - Inscription (2/2){% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h2 class="mt-4">
            Création de l'Entreprise
        </h2>
        {{ form(form) }}
	</div>
{% endblock %}

