
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body %}
	<div class="container">
		<h2 class="mt-4">
            Création du compte Administrateur
        </h2>
        {{ form(form) }}
	</div>
{% endblock %}

