{# Signatiare de la facture #}
<table class="tableau-bordure-zero droite marge-top-extralarge">
    <tr>
        <td class="texte-centre">
            <span class="texte-titre">{{facture.signedBy}}</span></br>
            <span class="texte-normal">{{facture.posteSignedBy}}</span>
        </td>
    </tr>
</table>