{# Signatiare de la facture #}
<table class="droite marge-top-extralarge texte-taille-normale">
    <tr>
        <td class="texte-centre">
            <span class="texte-titre">{{facture.signedBy}}</span></br>
            <span class="texte-normal texte-bleu">{{facture.posteSignedBy}}</span>
        </td>
    </tr>
</table>