{% extends 'base.html.twig' %}

{% block title %}Notyf - Test{% endblock %}

{% block body %}
	{% include 'segments/_mainheader.html.twig' %}
	<div class="example-wrapper">
	    Notyf
		<div>
			<a class="btn btn-success" href="{{ path('app_notyf', {'notyf':'success'}) }}" role="button">Succès</a>
			<a class="btn btn-info" href="{{ path('app_notyf', {'notyf':'info'}) }}" role="button">Info</a>
			<a class="btn btn-warning" href="{{ path('app_notyf', {'notyf':'warning'}) }}" role="button">Warning</a>
			<a class="btn btn-danger" href="{{ path('app_notyf', {'notyf':'error'}) }}" role="button">Error</a>
		</div>
	</div>
{% endblock %}
