<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Facture - {{facture.id}}</title>
    <style type="text/css">
        .texte-titre{
            padding: 3px;
            text-align: center;
            font-size: 10pt;
            font-weight: bold;
        }
        .texte-normal{
            padding: 3px;
            font-size: 9pt;
        }
        .texte-gras{
            font-weight: bold;
        }
        .texte-petit{
            padding: 3px;
            font-size: 8pt;
        }
        .texte-centre{
            text-align: center;
        }
        .texte-gauche{
            text-align: left;
        }
        .texte-droite{
            text-align: right;
        }
        .texte-blanc{
            color: white;
        }
        .bordure{
            border: 0.5px solid black;
        }
        .bordure-top{
            border-top: 0.5px solid black;
        }
        .bordure-bottom{
            border-bottom: 0.5px solid black;
        }
        .bg-sombre{
            background-color: lightgray;
        }
        .bg-pair{
            background-color: whitesmoke;
        }
        .largeur-max{
            width: 100%;
        }
        .centre{
            margin-left: auto;
            margin-right: auto;
        }
        .droite{
            margin-left: auto;
            margin-right: 0%;
        }
        .titre-document{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            background-color: lightgray;
            font-size: 10pt;
            font-weight: bold;
            margin-top: 20px;
            text-align: center;
            padding: 3px;
            width: 100%;
        }
        .largeur-logo{
            width: 30%;
        }
        .image-centre{
            margin-left: 30%;
            margin-right: 30%;
            width: 40%;
        }
        .marge-top-extralarge{
            margin-top: 100px;
        }
        .marge-bottom-zero{
            margin-bottom: 0px;
        }
        .marge-top-large{
            margin-top: 50px;
        }
        .marge-top-moyen{
            margin-top: 20px;
        }
        .marge-top-petit{
            margin-top: 10px;
        }
        .marge-bottom-large{
            margin-top: 50px;
        }
        .marge-bottom-zero{
            margin-bottom: 0px;
        }
        .tableau-contenu-entete{
            border: 0.5px solid black;
            border-spacing: 0px;
            background-color: lightgray;
            padding: 3px;
            text-align: center;
        }
        .tableau-contenu-normal{
            border: 0.5px solid black;
            padding: 3px;
        }
        .tableau-contenu-droite{
            text-align: right;
        }
        .tableau-bordure{
            border: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-blanche{
            border: 1px solid white;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-bottom{
            border-bottom: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-top{
            border-top: 0.5px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .tableau-bordure-zero{
            border: 0px solid black;
            border-spacing: 0px;
            padding: 3px;
        }
        .page-js{
            width: 100%;
            height: 1010px;
            {# background-color: aqua; #}
            page-break-after: always;
        }
        .page-js:last-child{
            page-break-after: unset;
        }
        .landscape-content{
            size: 9in 6in;
            background-color: red;
            transform: translate(100vw) rotate(90deg);
        }
        .wrapper{
            transform: rotate(90deg);
            background-color: red;
        }
    </style>
</head>
<body>
    <div class="page-js texte-normal">
        {% set page = 1 %}
        {% set pageTotale = 2 %}
        {% include 'segments/_factureheader.html.twig' %}
        {# Titre #}
        {% include 'segments/_facturetitre.html.twig' %}
        {# Synthèse numérique de la facture #}
        {% include 'segments/_facturesynthese.html.twig' %}
        {# Signatiare de la facture #}
        {% include 'segments/_facturesignataire.html.twig' %}
        {# Ressort #}
        {% include 'segments/_factureressort.html.twig' with {'tailleTabActuel': facture.compteBancaires|length, 'tailleTabMax': 5, 'tailleBoucleMin': 5} %}
        {# Comptes bancaires #}
        {% include 'segments/_facturecomptesbancaires.html.twig' %}
        {# Footer etait ici #}
        {% include 'segments/_facturefooter.html.twig' with {'currentPage': page, 'totalPage': pageTotale} %}
    </div>
    <div class="page-js texte-normal">
        {% set page = 2 %}
        {# Entête de la page #}
        {% include 'segments/_factureheader.html.twig' %}
        {# ici liste d'articles #}
        {% include 'segments/_facturearticles.html.twig' %}
        {# Ressort #}
        {% include 'segments/_factureressort.html.twig' with {'tailleTabActuel': facture.elementFactures|length, 'tailleTabMax': 10, 'tailleBoucleMin': 1} %}
        {# Fin liste des avenants #}
        {% include 'segments/_facturefooter.html.twig' with {'currentPage': page, 'totalPage': pageTotale} %}
    </div>
</body>
</html>