{% extends 'base.html.twig' %}

{% block title %}Hello SweetAlertController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        SweetAlert
		<div>
			<a class="btn btn-success" href="" role="button">Succès</a>
			<a class="btn btn-info" href="" role="button">Info</a>
			<a class="btn btn-warning" href="" role="button">Warning</a>
			<a class="btn btn-danger" href="" role="button">Error</a>
		</div>
	</div>
{% endblock %}
