{% extends 'base.html.twig' %}

{% block title %}JS Brokers{% endblock %}

{% block body %}
	{% include 'segments/_mainheader.html.twig' %}
    <div class="example-wrapper">
        Test - SweetAlert
		<div>
			<a id="bt1" class="btn btn-success">Info</a>
			<a id="bt2" class="btn btn-danger">Delete</a>
			<a id="bt3" class="btn btn-warning">Warning</a>
			<a id="bt4" class="btn btn-danger">Error</a>
		</div>
	</div>
{% endblock %}
