{% extends 'base.html.twig' %}

{% block title %}Hello SweetAlertController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        SweetAlert
		<div>
			<a id="bt1" class="btn btn-success" href="">Info</a>
			<a id="bt2" class="btn btn-danger" href="">Delete</a>
			<a id="bt3" class="btn btn-warning" href="">Warning</a>
			<a id="bt4" class="btn btn-danger" href="">Error</a>
		</div>
	</div>
{% endblock %}
