<div>
	{{this.nom}}
	{% for rubrique in this.tableauDeBord.briques %}
		{% for indicateur in rubrique.indicateurs %}
			<hr/>
			{{indicateur.titre}}<br/>
			{% for donnee in indicateur.donnees %}
				*****{{donnee}}<br/>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</div>
