<div class="container">
	{{this.nom}}
	<div class="row">
		<div class="col-sm">
			{{ component ("Section", { nom : "BARRE DE TITRE & BARRE D'OUTILS", type : 0})}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			{{ component ("Section", { nom : "CORPS DE LA PAGE", type : 1})}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			{{ component ("Section", { nom : "BAS DE PAGE POUR REFERENCES", type : 2})}}
		</div>
	</div>
</div>
